@font-face {
	font-family: 'Bagnard Sans Regular';
	src: url('../fonts/BagnardSans.otf');
	// font-weight: 300;
}

$ff: 'Bagnard Sans Regular';
$header-clr: #343434;
$body-clr: #eeeeee;

html {
	height: 100vh;
	background: $body-clr;
}

body {
	font-family: $ff;
	font-weight: 100;
	display: flex;
	flex-direction: column;
	align-items: center;
}

main {
	margin: 0 auto;
	// width: 600px;
}

#grid {
	// background: red;
	width: 620px;
	height: 620px;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.233);
}

.box {
	background: white;
	overflow-y: hidden;
}
.row {
	display: flex;
}

main {
	display: flex;
	align-content: center;
}

header {
}

h1 {
	margin-bottom: 2.5rem;
	text-align: center;
	font-size: 3rem;
	color: #343434;
}

header img {
	display: block;
	margin: 0 auto;
	width: 40%;
	height: auto;
}
// /////////////////////////// TOOLBAR ////////////////////////////////////
.tools {
	width: 50px;
	position: relative;
	padding: 0rem 1rem 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 1rem;
}

.tools img {
	width: 50px;
	height: 50px;
}

input#color {
	border: none;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.color-picker {
	position: relative;
	// margin-top: 0.5rem;
}

.color-picker input {
	border-radius: 50px;
	position: absolute;
	left: 0.5rem;
	bottom: 1rem;
	height: 150px;
	z-index: -1;
}

.color-picker img {
	// margin-left: 2rem;
}

input::-webkit-color-swatch-wrapper {
	width: 30px;
	height: 30px;
}

input::-webkit-color-swatch {
	border: none;
}

.delete {
	display: flex;
	place-content: center;
}

.delete img {
	// margin-top: 0.2rem;
	height: auto;
}

.cursor {
	// margin-top: 0.5rem;
	width: 30px;
	// background: red;
	height: auto;
}

.cursor .drag img {
	// width: 40px;
	height: auto;
	position: relative;
	right: 0.6rem;
}

.cursor .hover img {
	position: relative;
	right: 0.6rem;
	margin-top: 0.5rem;
	// width: 40px;
	height: auto;
}

.color-picker,
.grid-modifier,
.eraser,
.delete,
.cursor .drag,
.cursor .hover,
.save-con,
.drag:hover,
.hover:hover {
	cursor: pointer;
}

.color-picker:hover,
.grid-modifier:hover,
.eraser:hover,
.delete:hover,
.cursor .drag:hover,
.cursor .hover:hover,
.save-con:hover,
.drag:hover,
.hover:hover {
	transform: scale(1.1, 1.1);
	transition: all 0.5s ease;
	filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.315));
}

.grid-slider {
	// background: blue;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 0.8rem;
}

.grid-slider-wrapper {
	width: 131px;
	height: 131px;
	// background: red;
	display: flex;
	place-content: center;
}

.plus,
.minus {
	width: 12px;
}
// ! range styling
input[type='range'] {
	height: 26px;
	-webkit-appearance: none;
	margin: 10px 0;
	width: 100%;
}
input[type='range']:focus {
	outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
	width: 100%;
	height: 8px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 3px 3px 1px #ffffff;
	background: #414141;
	border-radius: 50px;
	border: 0px solid #ffffff;
}
// ! GOMB
input[type='range']::-webkit-slider-thumb {
	box-shadow: 0px 0px 5px #000000;
	border: 0px solid #000000;
	height: 20px;
	width: 20px;
	border-radius: 50px;
	background: #ffffff;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -5.5px;
}
// ! GOMB ^ margin-top: for offset
input[type='range']:focus::-webkit-slider-runnable-track {
	background: #414141;
}
input[type='range']::-moz-range-track {
	width: 100%;
	height: 13px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 3px 3px 1px #ffffff;
	background: #414141;
	border-radius: 50px;
	border: 0px solid #ffffff;
}
input[type='range']::-moz-range-thumb {
	box-shadow: 4px 4px 5px #000000;
	border: 0px solid #000000;
	height: 16px;
	width: 16px;
	border-radius: 50px;
	background: #ffffff;
	cursor: pointer;
}
input[type='range']::-ms-track {
	width: 100%;
	height: 13px;
	cursor: pointer;
	animate: 0.2s;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
input[type='range']::-ms-fill-lower {
	background: #414141;
	border: 0px solid #ffffff;
	border-radius: 100px;
	box-shadow: 3px 3px 1px #ffffff;
}
input[type='range']::-ms-fill-upper {
	background: #414141;
	border: 0px solid #ffffff;
	border-radius: 100px;
	box-shadow: 3px 3px 1px #ffffff;
}
input[type='range']::-ms-thumb {
	margin-top: 1px;
	box-shadow: 4px 4px 5px #000000;
	border: 0px solid #000000;
	height: 16px;
	width: 16px;
	border-radius: 50px;
	background: #ffffff;
	cursor: pointer;
}
input[type='range']:focus::-ms-fill-lower {
	background: #414141;
}
input[type='range']:focus::-ms-fill-upper {
	background: #414141;
}
input[type='range']::-moz-range-progress {
	background: #eeeeee;
	padding: 0.35rem;
	border-radius: 10px;
}

#grid-slider {
	// transform: translateY(55px);
	transform: rotate(90deg);
	position: relative;
	top: 3rem;
	// transform-origin: left;
	// margin-left: 1rem;
	// margin-top: 10rem;
	background: white;
	border: 1px solid rgba(0, 0, 0, 0.493);
	// appearance: none;
	// outline: none;
	// border-radius: 3px;
	height: 3px;
	--thumb-height: 1.375em;
	--thumb-width: 0.5em;
	--clip-edges: 0.0125em;
}

.sketch {
	position: absolute;
	width: 620px;
	height: 620px;
	// border: 1px solid black;
}

dialog::backdrop {
	background: black;
}

dialog {
	width: 500px;
	height: 500px;
}
